[project]
	description = Common Preferences - see https://bugs.eclipse.org/bugs/show_bug.cgi?id=334016
[access "refs/*"]
	owner = group user/Fredrik Attebrant (fredrikattebrant)
[access "refs/for/refs/*"]
	read = group user/Fredrik Attebrant (fredrikattebrant)
	push = group user/Fredrik Attebrant (fredrikattebrant)
	label-Code-Review = -2..+2 group user/Fredrik Attebrant (fredrikattebrant)
	label-Verified = -1..+1 group user/Fredrik Attebrant (fredrikattebrant)
	rebase = group user/Fredrik Attebrant (fredrikattebrant)
	removeReviewer = group user/Fredrik Attebrant (fredrikattebrant)
	submit = group user/Fredrik Attebrant (fredrikattebrant)
[access "refs/heads/*"]
	read = group user/Fredrik Attebrant (fredrikattebrant)
	create = group user/Fredrik Attebrant (fredrikattebrant)
	push = +force group user/Fredrik Attebrant (fredrikattebrant)
	pushMerge = group user/Fredrik Attebrant (fredrikattebrant)
[access "refs/tags/*"]
	push = +force group user/Fredrik Attebrant (fredrikattebrant)
	pushTag = group user/Fredrik Attebrant (fredrikattebrant)
	pushSignedTag = group user/Fredrik Attebrant (fredrikattebrant)
